/* Navbar.css */
.navbar-container {
    padding-bottom: 56px; /* Adjust this value based on your actual navbar height */
}

.navbar {
    min-height: 56px; /* Adjust this value based on your actual navbar height */
}

.navbar-brand {
    font-size: 18px; /* Adjust the font size as needed */
    margin-right: 20px; /* Adjust the right margin between links */
    text-decoration: none; /* Remove default link underline */
    color: #ffffff; /* Text color */
}

.navbar-text {
    margin: 0 10px; /* Adjust the margin between "|" separators */
    color: #ffffff; /* Text color */
}
